body {
    background-color: rgba(0, 160, 174, 1);
    margin: 0px;
    padding: 0px;
}
.inline-block{
    display: inline-block;
    vertical-align: top;

}
nav {
    background-color: #FA6B65;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

nav ul li button{
    background-color: #69BE5C;
    color:#FFF
}

div.logo{
    width: 10%;
    padding: 1%;
 }

.logo{
    border-radius: 10px;
    text-align: center;
    background-color: #FDB5B2
}

.content{
    width: 860px;
    margin: 0 auto;
    color: #fff
}

.flipCards{
    background-color: #FFF
}

#flip-1 {
    width: 100px;
    padding-left: 30%;
}

#flip-2 {
    width: 110px;
    padding-left: 30%;
}
#flip-3 {
    width: 113px;
    padding-left: 22%;
}
#flip-4 {
    width: 113px;
    padding-left: 30%;
}
#flip-5 {
    width: 109px;
    padding-left: 30%;
}
#flip-6 {
    width: 113px;
    padding-left: 30%;
}
footer{
    background-color: #7146C4;
    padding: 1px;
    color: #fff
}
footer.ul{
    display: inline-block;
    vertical-align:top;
}